In [ ]:
print("Mark Zuckerberg's house now belongs to David and Mack !\nCrazy, Right?")

In [ ]:
print(""" Mathematics is the way
and everyone thinks so\n\n Even the brits""")

In [ ]:
"Hello Mark, it's nice to meet you!"

#### Example: Printing ASCII art using the Print ("""  _string_  """) method ####

In [ ]:
print("""    

                                   _        _   _                   _           _   
              _ __ ___   ___  _ __| |_ __ _| | | | _____  _ __ ___ | |__   __ _| |_ 
             | '_ ` _ \ / _ \| '__| __/ _` | | | |/ / _ \| '_ ` _ \| '_ \ / _` | __|
             | | | | | | (_) | |  | || (_| | | |   < (_) | | | | | | |_) | (_| | |_ 
             |_| |_| |_|\___/|_|   \__\__,_|_| |_|\_\___/|_| |_| |_|_.__/ \__,_|\__|

\t\t\t\t CHOOSE YOUR DESTINY !!
""")

In [ ]:
print("""If you really like to eat food, then you should check out McDonalds. They have a great
menu of foods you can choose from. Literally Anything you want.
 \nAnything!""")

In [ ]:
# This program displays name and says witty stuff

First_name = input('What is your first name ?\t')
Last_name  = input('Last name too ?\t')
Age        = str(input('Your age ?\t '))

Fullname = First_name + ' ' + Last_name

print('\n\nHello '+ Fullname + '\n\n')
print('It must be nice to be '+ Age + '; I am a computer, I have no age!')

In [ ]:
x = 5
complex(x)

In [ ]:
'Fire' + ' cracker !'

In [ ]:
x = 5
y = 10

x + y

In [ ]:
type(Fullname)

In [ ]:
x = 5
print('being ' + str(x))

In [ ]:
First_name = input('What is your first name ?\t:')

In [ ]:
x

In [ ]:
x = str(input('Age?\t'))

In [ ]:
x

In [ ]:
# Tuples can be declared in two ways 
my_Tuple = (1,2,3,4,5) # way 1
print(my_Tuple)
type(my_Tuple)

In [ ]:
my_Tuple2 = 1,2,3,4,5 # way 2
print(my_Tuple2)
type(my_Tuple2)

In [ ]:
# Comparing Lists with tuples

my_List = ['Men', 'Index', 1,2,3]
my_tuple = ('Men', 'Index', 1,2,3)

a = my_tuple.__sizeof__() # get tuple size
b = my_List.__sizeof__()  # get list size

print('size of list is {}, and size of tuple is {}.'.format(b,a))

In [ ]:
A = my_tuple[0] 
B = my_tuple[1]
print ('The {} of {} is 0.'.format(B,A))

In [ ]:
# tuple packing and unpacking
Tuple = 'Daniel', 'Dean', 'James'   # Tuple packing
Name1, Name2, Name3 = Tuple       # tuple unpacking

print(Name1)
print(Name2)
print(Name3)

In [ ]:
# collecting data with tuples
User_Info = (('Name','James'),('Age',22)) #Nested tuple
A,B = User_Info[0]
C,D = User_Info[1]
print(A, ': ',B)
print(C, ': ',D)

In [ ]:
# Dictionary declaration 
my_Dict = {'Key1': 'Movies', 'Key2': ['Iron Man', 'Avengers']}

In [ ]:
my_Dict['Key1']

In [ ]:
# Dictionary declaration 
my_Dict = {(1,): 'Movie', (2,): ['Iron Man', 'Avengers']}	
print(my_Dict)
print(type(my_Dict))

In [ ]:
my_Dict[1,]

In [ ]:
A = my_Dict['Key1']	
B = my_Dict['Key2']

print(A,': ',B)

In [ ]:
Acct_Dict = {'Name':'Customer1','Account type'
                                            :{'type1': 'Savings','type2': 'Current'}}

Acct_Dict

In [ ]:
print('You have a '+ Acct_Dict['Account type']['type2']+ ' account')

In [ ]:
Acct_Dict['Account type'].keys()

In [ ]:
Acct_Dict.values()

In [ ]:
# Checking possible methods with datatypes
# Let us declare some datatypes first and check their methods

String = 'Bob'; integer = 100; Float = 25.3

List = ['Man']; Tuple = 5,    # To declare a single tuple 
                              # put a comma after the single value
    
Dictionary = dict([('Name','Max')]) # Dictionaries can be declared 
                                    # using dict() as well.
    
A = dir(String); B = dir(integer); C = dir(Float)

D = dir(List); E = dir(Tuple) ; F = dir(Dictionary)

print (''' Here are the methods possible with each type

                                                     Strings   
 
 {}            



                                                     Integers   
 
 {}            
 
 
 
                                                      Floats   
 
 {}            
 
 
 
 
                                                      Lists   
 
 {}            
 
 
 
                                                      Tuples   
 
 {}            
 
 
 
 
                                                      Dictionaries  
 
 {}            



'''.format(A,B,C,D,E,F))

In [ ]:
A = True 
type(A)

In [ ]:
int(A)

In [ ]:
print(5 < 10); print(3>4); print('Bob'=='Mary'); 
print(True == 1); print(False == 0); print(True != 1)

In [ ]:
print('Max'in 'Max payne'); print(2 in [1,3,4,5]); print(True in [1,0])

In [ ]:
print(True & True);print(True and False);print(False and False) 
print(False and True); print('foo' in 'foobar' and 1<2)

In [ ]:
print (True | True); print (True or False); print (False or False)
print (False or True); print(('foo' in 'foobar') | 1<2)

In [ ]:
size = eval(input('Please enter dictionary key size: '))
dico = dict()
for i in range (1,size+1):
    dico[i] = i*i
    print('iteration ',i,' : ',dico)

### Conditionals and loops ###

In [ ]:
# Grant access if user password is correct
password_pool = ('Smith_crete','Alex@456','CEO4life')
user_password = input('Please enter your password: \t')

# Now the condition
if user_password in password_pool :
    print('\nAcess granted!')

In [ ]:
# Movie rent-overdue price

price1 = 5              # ($ 5 for every day past due within first 3 days')
price2 = 7              # ($ 7 for every day past due after first 3 days')
days_past_due = eval(input('How many days past due:\t'))

# If statement

if days_past_due <= 3: 
    print('\nYou owe $',(days_past_due*price1))
if days_past_due > 3:
    print('\nYou owe $',(3*price1 + (days_past_due - 3)*price2))

In [ ]:
password_pool = ('Smith_crete','Alex@456','CEO4life')
user_password = input ('Please enter your password: \t')

    # Now the IF-ELSE conditions
if user_password in password_pool:
    print('\n Access granted!')
else:
    print('\n Access Denied! Calling Security …')

In [ ]:
password_pool = ('Smith_crete','Alex@456','CEO4life')
user_password = input ('Please enter your password: \t')

    # Now the ELIF conditions
    
if user_password in password_pool and user_password == 'Smith_crete':
    print('\nAccess granted! Welcome Dr.Smith')
    
elif user_password in password_pool and user_password == 'Alex@456':
    print('\nAccess granted! Welcome Mr. Alexander')

elif user_password in password_pool and user_password == 'CEO4life':
    print('\nAccess granted! Welcome Mr. CEO')
    
else:
    print('\nAccess Denied! Calling Security …')

#### Illustrating LOOPS ####

In [ ]:
# while loop to print output 5 times

i = 1       # counter

while i < 6:
    print(i,': I love python')
    i = i+1
else:
    print('\nThe program has completed')

In [ ]:
# This program prints 1-10 but skips 8

i = 0

while i<=9:
    i = i+1
    if i == 8:
        continue
    print(i)    
    
else: print('\nThe program has ended')

In [ ]:
# This program is meant to print 1-10 and skip 8
# It runs indefinitely until a break

i = 1
j = 1 

while i<=10:
    print ('Iteration ',j)
    
    if j >= 15:
        break           # loop escape sequence
    j = j+1
    
    if i == 8:
        continue       # indefinite loop
    print('\tvalue =',i)    
    i = i+1
    
else: print('\nThe program has ended')

In [ ]:
i = 1
for i in range(5):
    print(i)

In [ ]:
Indefinite_list = [0]
for x in Indefinite_list:
    Indefinite_list.append(0)
    print(x)

In [6]:
# This program accepts a list and prints its elements numbers

List = eval(input('Please enter a sequence of numbers using [ ] :\t')) 

for value in List:
    print('\nValue',value,'is : ',List[value-1])

Please enter a sequence of numbers using [ ] :	[1,2,3,4,5]

Value 1 is :  1

Value 2 is :  2

Value 3 is :  3

Value 4 is :  4

Value 5 is :  5

In [38]:
List = list(range(0,10))
print(List)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### List comprehension ####

In [30]:
trial_List = list(range(10))
[(trial_List[item]) if item != 9 else (trial_List[item])**2 for item in trial_List]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 81]

In [50]:
# Grab first three letters of strings

List = ['Matrix','Trilogy',1,3.4,'Cattle']
List.extend(['Jeep', 'Man', 'Go'])

# grab loop 

new_List = [things[:3] for things in List if type(things)== str and len(things)>=3]
print(new_List)

['Mat', 'Tri', 'Cat', 'Jee', 'Man']

In [75]:
# Create user defined list

nitems = eval(input('Please enter number of list items: '))     # accepting inputs
    
new_list  = [x**2 if x%2 != 0 else x/2 for x in range(1,nitems+1)]

print('\n  Here is your custom list\n\n',new_list)

Please enter number of list items: 10

  Here is your custom list

 [1, 1.0, 9, 2.0, 25, 3.0, 49, 4.0, 81, 5.0]

### Creating Functions###

In [87]:
def greet(name):
    """
    This program greets
    
    """  
    print('Hello ',name)

In [86]:
greet('David')

Hello  David

In [91]:
# function that creates a user defined list

def custom_list(nitems):
    
    """
    This function accepts a numeric value and creates a list.
    The list contains squares of odd numbers within the range
    of 1 and user input, as well as, half values for the even 
    numbers in that range.
    
    syntax: custom_list(numeric value)
        
    """
        
    if nitems > 0:              # This ensures user compliance
        
        new_list  = [x**2 if x%2 != 0 else x/2 for x in range(1,nitems+1)]
        
    else: print('Enter a valid number !')   # in case of a fault.
    
    print('\n Here is your custom list\n\n',new_list)  # This displays the list

In [92]:
custom_list(5)

 Here is your custom list

 [1, 1.0, 9, 2.0, 25]

In [96]:
# function that creates a user defined list and returns a value

def custom_list(nitems):
    
    """
    This function accepts a numeric value and returns a list.
    The list contains squares of odd numbers within the range
    of 1 and user input, as well as, half values for the even 
    numbers in that range.

    
    syntax: List_name = custom_list(numeric value)
        
    """
        
    if nitems > 0:              # This ensures user compliance
        
        new_list  = [x**2 if x%2 != 0 else x/2 for x in range(1,nitems+1)]
        
    else: print('Enter a valid number !')   # in case of a fault.
    
    return new_list

In [97]:
List = custom_list(10)
List

[1, 1.0, 9, 2.0, 25, 3.0, 49, 4.0, 81, 5.0]

In [104]:
str = '123456ABC'  # Only digit in this string
A = [x for x in str if x.isdigit()]
A

['1', '2', '3', '4', '5', '6']

In [9]:
def square_value (number): return number**2
square_value(10)

100

In [10]:
square = lambda number:number**2
square(10)

100

In [11]:
# This program squares all the elements in a list
List = list(range(1,11))
new_list = list(map(square,List))  # we used the lambda expression 'square'
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Extracting even numbers

# even number identifier
criteria = lambda value:value%2==0  

# using the new_list from example 52
even_list = list(filter(criteria,new_list)) 
even_list

[4, 16, 36, 64, 100]

## NumPy Section ##

In [47]:
# Allowing jupyter output all results per cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [54]:
Int_list = [1,2,3,4,5]
Int_list
Int_list.append(6)
Int_list

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]

In [6]:
import numpy as np
arr = np.array(Int_list)

In [44]:
arr.ndim

1

In [32]:
x =[even_list,Int_list]

In [33]:
x

[[4, 16, 36, 64, 100], [1, 2, 3, 4, 5]]

In [43]:
mat = np.array(x)
mat.shape = (5,2)
mat.ndim

2

In [59]:
# This is a matrix

x = [1,2,3]
y = [4,5,6]

my_list = [y,x]  # nested list

my_matrix = np.array(my_list)  # array

A = my_matrix.ndim
B = my_matrix.shape 

# Printing 
print('Resulting matrix:\n\n',my_matrix,'\n\nDimensions:',A,
'\nshape (rows,columns):',B)

Resulting matrix:

 [[4 5 6]
 [1 2 3]]

Dimensions: 2
shape (rows,columns): (2, 3)

In [52]:
print(array)

[[4 5 6]
 [1 2 3]]

In [62]:
my_matrix.transpose()

array([[4, 1],
       [5, 2],
       [6, 3]])

In [63]:
t_matrix = my_matrix.transpose()
t_matrix

array([[4, 1],
       [5, 2],
       [6, 3]])

In [85]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [90]:
np.ones((5,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [95]:
Even_array = np.arange(0,11,2)
Even_array

array([ 0,  2,  4,  6,  8, 10])

In [96]:
Even_array2 = np.arange(0,11,2, dtype='float')
Even_array2

array([ 0.,  2.,  4.,  6.,  8., 10.])

In [1]:
from numpy import *

In [2]:
arange(0,5)

array([0, 1, 2, 3, 4])

In [72]:
# Arrays of linearly spaced points
A = np.linspace(0,5,5) # 5 equal points between 0 & 5
B = np.linspace (1,50) # 50 equal points between 1 & 50
print('Here are the arrays :\n')
A
B

Here are the arrays :

array([0.  , 1.25, 2.5 , 3.75, 5.  ])

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50.])

#### Using Zeros ####

In [66]:
np.zeros(3)  # A vector of 3 elements
np.zeros((2,3)) # A matrix of 9 elements i.e. 3 rows, 3 columns

array([0., 0., 0.])

array([[0., 0., 0.],
       [0., 0., 0.]])

In [68]:
np.ones(3)  # A vector of 3 elements
np.ones([2,3]) # A matrix of 9 elements i.e. 3 rows, 3 columns

array([1., 1., 1.])

array([[1., 1., 1.],
       [1., 1., 1.]])

In [75]:
np.eye(2)
np.eye(3)

array([[1., 0.],
       [0., 1.]])

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [80]:
np.random.randint (1,5)    # A vector of 2 random values
np.random.randint (1,100,(2,3))  # A matrix of 6 random values

1

array([[92,  9, 99],
       [73, 36, 93]])

In [91]:
# creating a dice roll game with randint()
def roll_dice():
    """ This function displays a 
    dice roll value when called"""
    dice1 = np.random.randint(1,7) # This allows 6 to be inclusive
    dice2 = np.random.randint(1,7)
    
    if dice1 == dice2:
        print('Roll: ',dice1,'&',dice2,'\ndoubles !')
        if dice1 == 1:
            print('snake eyes!\n')
        
    else:
        print('Roll: ',dice1,'&',dice2)

In [159]:
roll_dice()

Roll:  1 & 1
doubles !
snake eyes!

In [160]:
freq = np.arange(10);values = np.random.randn(10)
freq;values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

array([ 1.33534821,  1.73863505,  0.1982571 , -0.47513784,  1.80118596,
       -1.73710743, -0.24994721,  1.41695744, -0.28384007,  0.58446065])

In [165]:
np.reshape(values,(2,5))

array([[ 1.33534821,  1.73863505,  0.1982571 , -0.47513784,  1.80118596],
       [-1.73710743, -0.24994721,  1.41695744, -0.28384007,  0.58446065]])

In [192]:
values[1:3]

array([1.73863505, 0.1982571 ])

In [185]:
A = values.max();B = values.min();
C = values.argmax()+1; D = values.argmin()+1

print('Maximum value: {}\nMinimum Value: {}\
\nItem {} is the maximum value, while item {}\
 is the minimum value'.format(A,B,C,D))

Maximum value: 1.8011859577930067
Minimum Value: -1.7371074259180737
Item 5 is the maximum value, while item 6 is the minimum value

In [193]:
# Indexing a vector array (values)
values
values[0]   # grabbing 1st item
values[-1]  # grabbing last item
values[1:3] # grabbing 2nd & 3rd item
values[3:8] # item 4 to 8

array([ 1.33534821,  1.73863505,  0.1982571 , -0.47513784,  1.80118596,
       -1.73710743, -0.24994721,  1.41695744, -0.28384007,  0.58446065])

1.3353482110285562

0.5844606470172699

array([1.73863505, 0.1982571 ])

array([-0.47513784,  1.80118596, -1.73710743, -0.24994721,  1.41695744])